﻿@model TRPOlab3ASPNET.Models.modelview
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form asp-action="">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="OutR" class="control-label"></label>
            <input type="number" name="R1" asp-for="OutR" class="form-control" placeholder="Внешний" />
            <span asp-validation-for="OutR" class="text-danger"></span>
        </div>
        <p>Я ЕБАЛ ЭТО ВСЁ</p>
        <div class="form-group">
            <label asp-for="InR" class="control-label"></label>
            <input type="number" name="R2" asp-for="InR" class="form-control" placeholder="Внутренний" />
            <span asp-validation-for="InR" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="S" class="control-label"></label>
            <input asp-for="S" name="S1" class="form-control" value="@ViewBag.result" placeholder="Результат" />
            <span asp-validation-for="S" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</body>
</html>