﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>square</title>
</head>
<body>
    <h1>Это калькулятор площади кольца</h1>
    <div>

        <figure>
            <img src="https://infofaq.ru/wp-content/uploads/2016/10/kolco.jpg" alt="Площадь кольца" />

        </figure>
        <form action="" method="post">
            <input type="number" name="OutR" placeholder="Внешний радиус, у.е."  value=""/>
            <input type="number" name="InR" placeholder="Внутренний радиус, у.е." value="" />
            <button>Считаем!</button>


            <p>

                
               <h1>
                 
                   Площадь кольца:  @ViewBag.Result у.е. 
                   
                   
                   </h1>

            </p>
        </form>
    </div>
</body>
</html>