﻿@model TRPOlab3ASPNET.Models.modelview

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>modelview</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" >
                <label asp-for="OutR" class="control-label"></label>
                <input type="number" name="R1" asp-for="OutR" class="form-control" placeholder="Внешний" />
                <span asp-validation-for="OutR" class="text-danger"></span>
            </div>
            <p >Я ЕБАЛ ЭТО ВСЁ</p>
            <div class="form-group">
                <label asp-for="InR" class="control-label"></label>
                <input type="number" name="R2" asp-for="InR" class="form-control" placeholder="Внутренний" />
                <span asp-validation-for="InR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="S" class="control-label"></label>
                <input asp-for="S"  name="S1" class="form-control" value="@ViewBag.result" placeholder="Результат"/>
                <span asp-validation-for="S" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
     



    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

